<div class="content-card edit" id="card-post-{{ post.id }}">
    <!-- header -->
    <div class="header-card">
        <div class="d-flex">
            <div>
                <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32"
                    class="mr-2 rounded" style="width: 40px; height: 40px;"
                    src="https://img.icons8.com/external-emojis-because-i-love-you-royyan-wijaya/32/000000/external-avatar-hana-emojis-chick-edition-emojis-because-i-love-you-royyan-wijaya-2.png"
                    data-holder-rendered="true">
            </div>
            <div>
                <a href="{% url 'profile' post.user.id %}">
                    <strong class="d-block text-gray-dark">{{ post.user.username}}</strong>
                </a>
                
                <small class="text-muted">{{ post.date }}</small>
            </div>
        </div>
        {% if user.id == post.user.id %}
        <div>
            <button class="btn open-edit-modal" type="submit" value="{{ post.id }}" data-bs-toggle="modal"
                data-bs-target="#modal-edit-{{ post.id }}">
                <i class="fa fa-edit"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <!-- Content -->
    <div>
        <p class="text-content-post" id="post-content-{{post.id}}">
            {{ post.content }}
        </p>
    </div>
    <!-- BUtton Like Dislike -->
    <div>
        {% if request.user in post.likes.all %}
        <button id="like" class="btn" type="submit" value="{{post.id}}">
            <i class="fas fa-heart fa-2x" style="color: red;"></i>
        </button>
        {% else %}
        <button id="like" class="btn" type="submit" value="{{post.id}}">
            <i class="far fa-heart fa-2x" style="color: black;"></i>
        </button>
        {% endif %}

        <span id='numLikes_{{post.id}}'>{{ post.likes.count }} likes</span>
    </div>

    <!-- Modal para editar -->
    <div class="modal fade edit-modal" id="modal-edit-{{ post.id }}" tabindex="-1" aria-hidden="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm btn-modal-send" value="{{post.id}}">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>