{% extends "network/layout.html" %}

{% block body %}

<div class="container ">
    
    {% for post in allposts %}
        {% include "network/_item_post.html" %}
    {% endfor %}

    {% if allposts.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if allposts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ allposts.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            {% for i in allposts.paginator.page_range %}
                {% if allposts.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if allposts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ allposts.next_page_number }}">Next</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    {% endif %}


</div>



{% endblock %}