{% extends "network/layout.html" %}

{% block body %}

<div class="container ">
    <div class="post-card post">
        <div class="header-card">
            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32"
                class="mr-2 rounded" style="width: 40px; height: 40px;"
                src="https://img.icons8.com/external-emojis-because-i-love-you-royyan-wijaya/32/000000/external-avatar-hana-emojis-chick-edition-emojis-because-i-love-you-royyan-wijaya-2.png"
                data-holder-rendered="true">
            <input type="button" class="form-control rounded-pill" data-bs-toggle="modal" data-bs-target="#modal_post"
                value="What's on your mind {{user.username}}" id="open-post-modal">
        </div>

        <div class="modal fade post-modal" id="modal_post" tabindex="-1" aria-hidden="true" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-sm btn-modal-send">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for post in allposts %}
        {% include "network/_item_post.html" %}
    {% endfor %}

    {% if allposts.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if allposts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ allposts.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            {% for i in allposts.paginator.page_range %}
                {% if allposts.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if allposts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ allposts.next_page_number }}">Next</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    {% endif %}

</div>



{% endblock %}