{% extends "network/layout.html" %}

{% block body %}
<div class="container">
    <div class="row post-card justify-content-center text-center">
        <input id="user-profile" type="text" hidden value="{{ user.username}}">
        <div class="col-4">
            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="image user"
                class="bd-placeholder-img rounded-circle" style="width: 75px; height: 75px;"
                src="https://img.icons8.com/external-emojis-because-i-love-you-royyan-wijaya/32/000000/external-avatar-hana-emojis-chick-edition-emojis-because-i-love-you-royyan-wijaya-2.png"
                data-holder-rendered="true">
            <h4>{{ profile_user.user.username }}</h4>
        </div>
        <div class="col-8 profile-follow">
            <div class="d-flex justify-content-between">
                <P id="profile-post-{{ profile_user.user.id }}" class="btn"><strong> {{profile_post.count}} </strong> Post</P>
                
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-followers">
                    <P><strong id="profile-followers-{{ profile_user.user.id }}"> {{ profile_user.followers.count }} </strong>  Followers</P>
                </button>
                
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-following">
                    <P><strong id="profile-followers-{{ profile_user.user.id }}"> {{ profile_user.user.get_follower.count }} </strong>  Following</P>
                </button>
                
            </div>

            {% if user.id != profile_user.user.id %}
                {% if user in profile_user.followers.all %}
                    <button class="btn btn-outline-primary btn-sm col-lg-8" id="follow" value="{{ profile_user.user.id }}">Following</button>
                {% else %}
                    <button class="btn btn-primary btn-sm col-lg-8" id="follow" value="{{ profile_user.user.id }}">Follow</button>
                {% endif %}
            {% endif %}
            
        </div>

    </div>

    <div>
        <div class="modal fade" id="modal-followers" tabindex="-1" aria-hidden="true" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Followers</h5>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush">
                            {% for followers in profile_user.followers.all %}
                                <li class="list-group-item text-center">{{ followers.username}}</li>
                            {% endfor%}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-following" tabindex="-1" aria-hidden="true" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> Following </h5>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush">
                            {% for following in profile_user.user.get_follower.all %}
                                <li class="list-group-item text-center">{{ following.user.username}}</li>
                            {% endfor%}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for post in allposts %}
        {% include "network/_item_post.html" %}
    {% endfor %}

    {% if allposts.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if allposts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ allposts.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            {% for i in allposts.paginator.page_range %}
                {% if allposts.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if allposts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ allposts.next_page_number }}">Next</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    {% endif %}
</div>

{% endblock %}