{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'auctions/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'index' %}" class="nav-link px-2 link-secondary">Active Listings</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                            <li><a class="dropdown-item" href="{% url 'category' category.categoryName %}">{{category.categoryName}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'create' %}" class="nav-link px-2 link-dark">Create Listing</a></li>
                    <li><a href="{% url 'watchlist' %}" class="nav-link px-2 link-dark">Watchlist
                        <span class="badge bg-dark text-white">{{watchlist_count}}</span>
                    </a></li>
                {% endif %}
            </ul>
    
            <div class="col-md-auto text-end">
                {% if user.is_authenticated %}
                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="text-align: center;">
                        <li><span class="nav-link px-2 link-secondary navbar-text">Signed in as <strong>{{ user.username }}</strong>.</span></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <a href="{% url 'login' %}" >
                            <button type="button" class="btn btn-outline-primary me-2">Login</button>
                        </a>
                        <li><a href="{% url 'register' %}" class="nav-link px-2 link-dark">Register</a></li>
                    </ul>
                {% endif %}
            </div>
        </header>
    </div>
    {% block body %}
        <h1>Auctions</h1>
    {% endblock %}
</body>

</html>