{% extends "auctions/layout.html" %}

{% block body %}

        
    <h2>Watchlist</h2>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for auction in watchlist %}
                    <a href="#" class="col" style="margin: 10px 0px; text-decoration: none;">
                        <div class="card shadow-sm"style="min-width: 250px;">
                            <img src="{{auction.imageItem}}" class=" bd-placeholder-img card-img-top" width="100%" height="325" >
                            
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="p-2  bd-highlight">
                                        <span class="fs-4 font-monospace">{{ auction.titleItem }}</span>
                                        <p class="fw-lighter ">{{ auction.categoryAuction.categoryName }}</p>
                                    </div>
                                    <div class="p-2 flex-shrink-1 bd-highlight" style="text-align: center;">
                                        <small class="text-muted">Current Price</small>
                                        <p class="subtitle is-6 ">${{ auction.priceAuction }}</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                                    </div>
                                    <small class="text-muted">{{ auction.auctionStarted }}</small>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    
    
{% endblock %}