{% extends "capstone/layout.html" %} {% block body %}

<div
  class="p-4 w-full max-w-sm bg-white rounded-lg border shadow-lg mb-8 md:mb-4 dark:bg-gray-800 dark:border-gray-700"
>
  <h5
    class="text-base font-semibold text-center text-gray-900 md:text-xl dark:text-white"
  >
    Es hora de jugar!
  </h5>
</div>
<div id="menu-card"
  class="p-4 w-full justify-center hidden md:flex items-center max-w-screen-lg rounded-lg sm:flex-col dark:bg-gray-800 dark:border-gray-700"
>
  <div class="element-card">
    <div class="front-facing">
    </div>
    <div class="back-facing">
      <p class="reto-game"></p>
    </div>
  </div>
  <div class="element-card">
    <div class="front-facing">
    </div>
    <div class="back-facing">
      <p class="reto-game"></p>
    </div>
  </div>
  <div class="element-card">
    <div class="front-facing">
    </div>
    <div class="back-facing">
      <p class="reto-game"></p>
    </div>
  </div>
  <div class="element-card">
    <div class="front-facing">
    </div>
    <div class="back-facing">
      <p class="reto-game"></p>
    </div>
  </div>
</div>

<div id="menu-card-responsive" class="w-full flex md:hidden justify-center">
  <div class="relative">
    <!-- <div class="w-50 h-80 absolute top-0">
      <div class="absolute translate-x-3 translate-y-3 rounded-2xl shadow-lg border-gray-200">
      </div>
    </div> -->

    <div class="element-card-r1 absolute">
      <div class="front-facing-r1 " style="transform: translate(20px, 15px) rotate(6deg);">
      </div>
      <div class="front-facing-r1" style="transform: translate(12px, 12px) rotate(3deg);">
      </div>
    </div>

    <div class="card-primaria">
      <div class="element-card-r">
        <div class="front-facing-r">
        </div>
        <div class="back-facing-r">
          <p class="reto-game"></p>
        </div>
      </div>
    </div>
      
    
  </div>

</div>

{% endblock %}
