{% extends "encyclopedia/layout.html" %}

{% block title %}
 {{title}}
{% endblock %}

{% block body %}
<div style="margin-bottom: 20px !important;">
    <ul class="nav nav-tabs">
        <a class="nav-item nav-link" href="/wiki/{{title}}" >Read</a>
        <a class="nav-item nav-link active" href="/edit/{{title}}" >Edit</a>
      </ul>
</div>
<form method="post">
    {% csrf_token %}
    <textarea name="content" id="" rows="20" class="form-control" style="margin-bottom: 0.25rem;">
        {{content|safe}}
    </textarea>
    <input type="submit" class="btn btn-secondary">
</form>
{% endblock %}