{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<div><a href="{% url 'index' %}" >Back</a><br><a href="/edit/{{title}}" >Edit</a></div>
    {% if success %} 
    {{ content|safe }} 
     {% if entries %}
                <h4>Resultados similares:</h4>
                <ul>
            {% for entry in entries %}
                <li><a href="/wiki/{{entry}}">{{ entry }}</a></li>
            {% endfor %}
                </ul>
    {% endif %} 
{% else %}
    <h1>{{message}}</h1>
{% endif %} 

{% endblock %}